.vscode
node_modules/
dist/
dist-cjs/
lib/
.turbo
.eslintcache
.env
yarn-error.log

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

langchain/docs/

.idea/

.DS_Store

Chinook.db
Chinook_Sqlite.sql

.envrc
*.swp
*.swo

.node-version

## GENERATED create-entrypoints.js
/client.cjs
/client.js
/client.d.ts
/run_trees.cjs
/run_trees.js
/run_trees.d.ts
/index.cjs
/index.js
/index.d.ts
## END GENERATED create-entrypoints.js