version: "3"

services:
  test-exports-esm:
    image: node:22
    working_dir: /app/js/internal/environment_tests/test-exports-esm
    volumes:
      - ../../..:/app
    command: bash -c "yarn install && yarn test"

  test-exports-cjs:
    image: node:22
    working_dir: /app/js/internal/environment_tests/test-exports-cjs
    volumes:
      - ../../..:/app
    command: bash -c "yarn install && yarn test"

  test-exports-cf:
    image: node:22
    working_dir: /app/js/internal/environment_tests/test-exports-cf
    volumes:
      - ../../..:/app
    command: bash -c "yarn install && yarn test"

  success:
    image: alpine:3.14
    depends_on:
      test-exports-esm:
        condition: service_completed_successfully
      test-exports-cjs:
        condition: service_completed_successfully
      test-exports-cf:
        condition: service_completed_successfully
    command: echo "All export tests passed!"
