[tool.poetry]
name = "langchainplus-sdk"
version = "0.0.8"
description = "Client library to connect to the LangChainPlus LLM Tracing and Evaluation Platform."
authors = ["LangChain"]
license = "MIT"
readme = "README.md"
packages = [{include = "langchainplus_sdk"}]

[tool.poetry.scripts]
langchain = "langchainplus_sdk.cli.main:main"

[tool.poetry.dependencies]
python = ">=3.8.1,<4.0"
pydantic = "^1"
requests = "^2"
tenacity = "^8.1.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
black = "^23.3.0"
mypy = "^1.3.0"
ruff = "^0.0.270"
types-requests = "^2.31.0.1"
pandas-stubs = "^2.0.1.230501"
types-pyyaml = "^6.0.12.10"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = [
  "E",  # pycodestyle
  "F",  # pyflakes
  "I",  # isort
]

[tool.mypy]
ignore_missing_imports = "True"
disallow_untyped_defs = "True"
