name: Integration Tests CI

on:
  workflow_dispatch:

env:
  POETRY_VERSION: "1.4.2"

jobs:
  python_integration_test:
    name: Python Integration Test
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: "pip"
      - name: Install poetry
        run: pipx install poetry==1.4.2
      - name: Install dependencies
        run: poetry install
      - name: Run Python integration tests
        uses: ./.github/actions/python-integration-tests
        with:
          python-version: 3.11
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}

  js_integration_test:
    name: JS Integration Test
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: js
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "yarn"
          cache-dependency-path: "js/yarn.lock"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run JS integration tests
        uses: ./.github/actions/js-integration-tests
        with:
          node-version: 18.x
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_password: ${{ secrets.DOCKER_PASSWORD }}
