# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: JS Client CI

on:
  push:
    branches: ["main"]
    paths:
      - "js/**"
  pull_request:
    paths:
      - "js/**"
  workflow_dispatch:
    inputs:
      run_integration_tests:
        description: "Run integration tests"
        default: "false"
        type: choice
        options: ["true", "false"]

jobs:
  format:
    name: Check formatting
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "js"
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "yarn"
          cache-dependency-path: "yarn.lock"
      - name: Install dependencies
        run: yarn install --immutable --mode=skip-build
      - name: Check formatting
        run: yarn run format:check

  lint:
    name: Check linting
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "js"
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "yarn"
          cache-dependency-path: "yarn.lock"
      - name: Install dependencies
        run: yarn install --immutable --mode=skip-build
      - name: Check linting
        run: yarn run lint

  build:
    name: Build and check types
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "js"
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "yarn"
          cache-dependency-path: "yarn.lock"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build and check types
        run: yarn run build

  test:
    name: Unit Tests
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [18.x, 20.x, "22.4.1"]
        # See Node.js release schedule at https://nodejs.org/en/about/releases/
        include:
          - os: windows-latest
            node-version: 20.x
          - os: macos-latest
            node-version: 20.x
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: "js"
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          cache-dependency-path: "yarn.lock"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn run build
      - name: Check version
        run: yarn run check-version
      - name: Test
        run: yarn run test
