name: Python CI

on:
  push:
    branches: [main]
    paths:
      - ".github/**"
      - "python/**"
  pull_request:
    paths:
      - ".github/**"
      - "python/**"
  workflow_dispatch:

jobs:
  format:
    name: Lint 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "python"
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          enable-cache: true
      - name: Install dependencies
        run: uv sync --group dev --group lint
      - name: Check formatting
        run: uv run ruff format --check
      - name: Lint
        run: make lint

  build_and_test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --group dev --group lint
          uv pip install langchain 
      - name: Build ${{ matrix.python-version }}
        run: uv build
      - name: Check version alignment
        run: make check-version
      - name: Run Unit tests ${{ matrix.python-version }}
        run: make tests
        shell: bash
